.navbar {
	height: 80px;
	
}

h4{
	opacity: 80%;
}

body{
	width: 100%;
	font-family:  'PT Sans', sans-serif;;
}
#btn{
	margin-top: 10px;
}
.container{
	margin-top: 10px;
}
ul, li{
	list-style: none;
}
#image{
	width: 250px;
	border-radius: 50px;
	margin-top: 10px;
}
#oldRecipeMeal{
	margin-top: 10px;
	width: 350px;
	background-color: #7986cb;

}

.navbar-brand {
	font-size: 40px;
}

p {
	text-align: justify;
}

.helper-text {
	margin: 1%;
}

.btn{
	background-color: #9ccc65;
	margin: 1%;
  }

.email-sent {
	color: green;
}

.email-fail {
	color: red;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=PT+Sans&display=swap');
